/* Fila seleccionada (verde claro) */
tr.table-selected {
    background-color: #d7f4dd !important;
}

/* Celda seleccionada (verde oscuro) */
td.cell-selected {
    background-color: #0f6d36 !important;
    color: black;
}

/* Fila seleccionada (verde claro) */
tbody tr.table-selected > td {
    background-color: #d7f4dd !important;
}

